.top { background-color: deepskyblue;
    border: 2px solid cyan;
    fill: deepskyblue;
    
}
.nav-text{ display: flex;
    justify-content: space-between;
}
.name {padding-right: 60px;
    padding: 10px;

}
.pages {display: flex;
    padding: 10px;
padding-right: 15px;}

.one {padding-right: 15px;}

.two {padding-right: 15px;}

.three {padding-right: 15px;}

